.main {
  height: 600px;
  width: 100%;
  background-image: url('/public/img/background.jpg');
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.kinh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini {
  padding: 0 100px;
}

.text {
  position: absolute;
  top: 365px;
  left: 25px;
  font-weight: 500;
}

.text img {
  width: 180px;
  position: absolute;
  top: -155px;
  right: 90px;
}